{% extends 'email/base.html.twig' %}

{% trans_default_domain 'mail' %}

{% block content %}
    <row>
        <columns>
            <p>
                Votre seance du {{ startAt|date('d/m/Y \à H\\hi', plateform_timezone) }} a été annulée.
            </p>
            <p>
                N'hésitez pas à nous contacter : #email# pour tous renseignements complémentaires.
            </p>
        </columns>
    </row>
{% endblock %}
