{% extends 'email/base.html.twig' %}

{% trans_default_domain 'mail' %}

{% set reset_password_url = base_url ~ '/reset-password/' ~ token %}

{% block content %}
    <row>
        <columns>
            <center>
                <p class="text-center">
                    {{ 'reset_password.content'|trans }}
                </p>
            </center>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <center>
                <button href="{{ reset_password_url }}">{{ 'reset_password.title'|trans|upper }}</button>
            </center>
        </columns>
    </row>
{% endblock %}
