<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Fiche d'appréciation du coaching d'evaluation{% endblock %}</title>
    {% block stylesheets %}
        {{ include('pdf/include/css.html.twig') }}
    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<!--<body style="padding-right: 50px; padding-left: 50px; font-family:Calibri,serif;">-->
<body>
    <div id="container">
        <div id="header">
            <h1>Fiche d'appréciation du coaching d'evaluation</h1>
            <h4>Evaluation de fin de parcours de coaching</h4>
        </div>
    </div>
    <div id="content-coaching-info">
        <div id="container-coaching-info">
            Prénom Nom du.de la coaché.e :
        </div>
        <div id="container-answer">
            Date
        </div>

        <div id="container-coaching-info">
            Prénom Nom du.de la coach :
        </div>
        <div id="container-answer">
            Période du coaching :
        </div>
    </div>

    <p style="text-align: center">Evaluation des criteres</p>
    {% for question,notation in notationQuestion %}
    <div id="content-question">
        <div id="container-question">
            {# {{ question }}  #}
        </div>
        <div id="container-answer">
            <div id="box">
                <b>{# {{ notation }} #}</b>
            </div>
        </div>
    </div>
    {% endfor %}
    <!--
    <div class="column">
        <div id="box"></div>
    </div>

        <div class="row">
            <div class="column">
                <div id="criteria_wrapper">
                    Apport de connaissances par le.la coach
                </div>
            </div>
            <div class="column">
                <div id="box"></div>
            </div>
        </div>
    </div>-->

</body>
</html>
