{% extends 'email/base.html.twig' %}

{% trans_default_domain 'mail' %}

{% block content %}
    <row>
        <columns>
            <p>
                Le coaché {{ coachee }} à complété l'évaluation de son coaching.
            </p>
            <p>
                Vous pouvez retrouver cette évaluation dans vos comptes rendus coachés.
            </p>
        </columns>
    </row>
{% endblock %}
