{% extends 'email/base.html.twig' %}

{% trans_default_domain 'mail' %}

{% block content %}
    <row>
        <columns>
            <p>Bonjour, </p>
            <p>
                Votre coaching avec {{ coachName }} est arrivé à sa fin.
            </p>
            <p>
                Nous vous invitons maintenant à compléter l'évaluation de ce coaching
                // link ?
            </p>
        </columns>
    </row>
{% endblock %}
