{% trans_default_domain 'mail' %}

{% apply inky_to_html|inline_css(source('@css/foundation-emails.css'), source('@css/email.css')) %}
    <container>
        <row>
            <columns>
                <center>
                    <img src="{{ email.image('@images/email/header.jpg') }}" class="header" alt="header">
                </center>
            </columns>
        </row>
        <row>
            <columns>
                <center>
                    <img src="{{ email.image('@images/email/logo.jpg') }}" class="logo" alt="logo">
                </center>
            </columns>
        </row>
        {% block content %}
        {% endblock %}
        <row>
            <columns>
                <row class="button radius">
                    <columns>
                        <br>
                        <p>L'équipe Geo-Psy</p>
                    </columns>
                </row>
            </columns>
        </row>
        <row>
            <columns>
                <center>
                    <img src="{{ email.image('@images/email/footer.jpg') }}" class="footer" alt="footer">
                </center>
            </columns>
        </row>
    </container>
{% endapply %}
